<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=100">
</head>
<body onload="App.main();">
    <div id="content"></div>
<script type="text/javascript" src="lib/template.js"></script>
<script type="text/javascript" src="assets/demo.js"></script>

<script type="text/html" id="tpl">
<ul>
    <% for (var i = 0, l = list.length; i < l; i ++) { %>
        <li><%=list[i].index%> user : <%=list[i].user%> | site：<%=list[i].site%></li>
    <% } %>
</ul>
</script>
</body>
</html>